/* this file contains overrides for the PDP-11 appearance.

The primary colors are orange="FF6024" and red="F90404"
*/

#header {
	background: #000 url("images/PDP11header.gif") no-repeat center bottom;
}

#footer p {
	color: #fff;
	border-top: 5px solid #F90404;
}

.post>h2>a {
	border-left: #F90404 solid 20px;
	border-top: #F90404 solid 2px;
}

h2.pagetitle {
	background: #000;
	border-left: #F90404 solid 20px;
	border-top: #F90404 solid 2px;
}

#sidebar h2 {
	background: #000;
	border-left: #F90404 solid 20px;
	border-top: #F90404 solid 2px;
}

#wp-calendar tbody a {
	background: #FF6024;
}